.css-drawing {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 8px;
}

.ship-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(135deg, rgb(253, 253, 199), rgb(153, 188, 253));
}

.ship-container::after {
    content: '';
    position: absolute;
    top: -7px;
    left: -10px;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 101);
    border-radius: 50%; 
}

.arch {
    position: absolute;
    bottom: 20px;
    width: 70px;
    height: 120px;
    border: 10px solid #888888;
    border-bottom: none;
    border-radius: 60px 60px 0 0;
}

.arch1 { left: 0; }
.arch2 { left: 65px; }
.arch3 { left: 130px; }

.deck {
    position: absolute;
    bottom: 20px;
    left: 32px;
    width: 140px;
    height: 100px;
    background: #895a39;
    clip-path: polygon(0 49%, 100% 49%, 79% 100%, 19% 100%);
}

.stripe1 {
    position: absolute;
    bottom: 70px;
    left: 32px;
    width: 140px;
    height: 5px;
    background: #603f27;
}

.stripe2 {
    position: absolute;
    bottom: 56px;
    left: 39px;
    width: 125px;
    height: 5px;
    background: #603f27;
}

.stripe3 {
    position: absolute;
    bottom: 42px;
    left: 46px;
    width: 110px;
    height: 5px;
    background: #603f27;
}

.stripe4 {
    position: absolute;
    bottom: 28px;
    left: 53px;
    width: 95px;
    height: 5px;
    background: #603f27;
}

.window {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.window1 { bottom: 53px; left: 45px; }
.window2 { bottom: 53px; left: 65px; }
.window3 { bottom: 53px; left: 85px; }
.window4 { bottom: 53px; left: 105px; }
.window5 { bottom: 53px; left: 125px; }
.window6 { bottom: 53px; left: 145px; }

.mast {
    position: absolute;
    bottom: 0px;
    left: 100px;
    width: 5px;
    height: 150px;
    background: #895a39;
}

.flag-bottom {
    position: absolute;
    bottom: 77px;
    left: 103px;
    width: 65px;
    height: 55px;
    background: linear-gradient(to right, rgb(231, 69, 69), rgb(255, 201, 210));
    clip-path: polygon(100% 84%, 0 0, 0 100%);
} 

.flag-top {
    position: absolute;
    bottom: 115px;
    left: 99px;
    width: 30px;
    height: 40px;
    background: #0c0606;
    clip-path: polygon(0% 48%, 0% 0%, 31% 5%, 69% 5%, 99% 1%, 100% 47%, 89% 48%, 79% 53%, 65% 57%, 39% 57%, 19% 55%);
    border-radius: 2px;
}

.flag-top::before,
.flag-top::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    width: 15px;
    height: 2px;
    background: white;
}

.flag-top::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.flag-top::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.circle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
}

.circle1 { top: 15%; left: 25%; }  
.circle2 { top: 15%; left: 54%; }  
.circle3 { top: 34%; left: 25%; }  
.circle4 { top: 34%; left: 54%; }  

.wave {
    position: absolute;
    background: linear-gradient(to right, rgb(176, 216, 249), rgb(88, 135, 228));
    border-radius: 50%;
}

.wave1 {
    bottom: -20px;
    left: -5px;
    width: 65px;
    height: 65px;
} 

.wave2 {
    bottom: -20px;
    left: 35px;
    width: 75px;
    height: 75px;
}

.wave3 {
    bottom: -35px;
    right: 35px;
    width: 75px;
    height: 75px;
}

.wave4 {
    bottom: -10px;
    right: -10px;
    width: 65px;
    height: 65px;
}