:root {
    --color-shadow: rgba(0.5, 0.5, 0.5, 0.5);
}

.animation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}
.png-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
}
.flexbox-png {
    width: 100px; 
    height: 100px; 
    position: relative;
    background: linear-gradient(to bottom, #a0c3ea, #fcea85);
    border: 0.125rem solid var(--color-shadow);
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-animation {
    width: 200px; 
    height: 200px; 
    position: relative;
    background: linear-gradient(to bottom, #a0c3ea, #fcea85);
    border: 0.125rem solid var(--color-shadow);
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-car {
    width: 90%;
    height: auto;
    transition: all 0.4s ease;
    position: relative;
    z-index: 3;
}

.wheels-container {
    position: absolute;
    width: 72%;
    left: 17%;
    height: 20%;
    bottom: 23%;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30.5%;
    z-index: 15;
}

.wheel {
    width: 32%;
    height: auto;
}

.wheels-container:hover .wheel{
    animation: wheelSpin 1s linear infinite;
} 

.hover-elements, .click-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.hover-text {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
    font-size: 0.7rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.squirrel-face {
    position: absolute;
    width: 22%;
    height: auto;
    bottom: 53%;
    left: 33%;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

.click-text {
    position: absolute;
    top: 32%;
    right: 0%;
    color: var(--color-text);
    font-weight: bold;
    font-size: 0.8rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.car-alt {
    position: absolute;
    top: 5%;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 8;
}

.squirrel-walk {
    position: absolute;
    width: 20%;
    height: auto;
    bottom: 5%;
    right: 18%;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 9;
}

.flexbox-animation:hover .main-car {
    animation: carShake 0.3s ease-in-out infinite;
}

.flexbox-animation:hover .hover-text, .flexbox-animation:active .click-text, 
.flexbox-animation:active .car-alt, .flexbox-animation:hover .squirrel-face{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.flexbox-animation:active .main-car, .flexbox-animation:active .squirrel-face, 
.flexbox-animation:active .wheel, .flexbox-animation:active .hover-text {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.flexbox-animation:active .squirrel-walk {
    opacity: 1;
    animation: squirrelWalk 2s ease-in-out forwards;
}

.flexbox-animation:active {
    animation: finalShake 0.5s ease-in-out infinite;
} 

@keyframes carShake {
    0%, 100% { 
        transform: translateX(0) translateY(0); 
    }
    25% { 
        transform: translateX(-0.1rem) translateY(-0.05rem); 
    }
    50% { 
        transform: translateX(0.1rem) translateY(0.05rem); 
    }
    75% { 
        transform: translateX(0.05rem) translateY(-0.1rem); 
    }
}

@keyframes wheelSpin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes finalShake {
    0%, 100% { 
        transform: translateY(0); 
    }
    25% { 
        transform: translateY(-0.2rem); 
    }
    50% { 
        transform: translateY(0.1rem); 
    }
    75% { 
        transform: translateY(-0.1rem); 
    }
}

@keyframes squirrelWalk {
    0% { 
        transform: translateX(0) translateY(0);
    }
    20% { 
        transform: translateX(-100%) translateY(-35%);
    }
    40% { 
        transform: translateX(-200%) translateY(0);
    }
    60% { 
        transform: translateX(-300%) translateY(-35%);
    }
    80% { 
        transform: translateX(-400%) translateY(0);
    }
    100% { 
        transform: translateX(-500%) translateY(-35%);
    }
}

/* ------ */

.hero-subtitle ul {
    list-style: none;
    padding-left: 0;
}

.hero-subtitle li {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.hero-subtitle li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../Images/лапа.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 5%;
}

.hero-subtitle h3, ul, li, strong {
    color: var(--color-secondary);
}

.hero-subtitle h3 {
    margin-bottom: 1rem;
}